# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vscode
/data
dataset/
main
cpp_mlp/CMakeUserPresets.json
cpp_mlp/build/vcpkg.json
cpp_mlp/build/Makefile
cpp_mlp/src/imgui.ini
cpp_mlp/src/mlp
